In [2]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint
from statsmodels.stats.weightstats import DescrStatsW

In [3]:
data = pd.read_csv('sample10000.csv', parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
data.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.5,0.0,0.3,7.8
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.0,0.0,0.3,4.8

In [4]:
num_passengers_cash = len(data[data['payment_type'] == 2])
print('Number of passenger which paid with cash: {}'.format(num_passengers_cash))

Number of passenger which paid with cash: 3543

In [5]:
count = len(data[data['payment_type'] == 2])
nobs = len(data)
conf_int = proportion_confint(count, nobs, alpha=0.01)
print('Confidence interval for proportion of cash payers: ({:.2f}, {:.2f})'.format(conf_int[0], conf_int[1]))
print(conf_int)

Confidence interval for proportion of cash payers: (0.34, 0.37)
(0.34197979174644566, 0.36662020825355435)

In [6]:
trip_dist_mean = data['trip_distance'].mean()
trip_dist_std = data['trip_distance'].std() / np.sqrt(len(data))
print('Mean trip distance in miles: {}'.format(trip_dist_mean))
print('Standard deviation of trip distance in miles: {}'.format(trip_dist_std))

Mean trip distance in miles: 2.8812639999999945
Standard deviation of trip distance in miles: 0.03583925411394515

In [9]:
trip_dist_stats = DescrStatsW(data['trip_distance'])
print('95% confidence interval for the mean trip distance: {}'.format(trip_dist_stats.tconfint_mean()))

95% confidence interval for the mean trip distance: (2.8110118487985973, 2.9515161512014023)